textarea {
    font-family: 'Montserrat';
    resize: none;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #77aa97;
}

.review-form {
    font-family: 'Montserrat';
    display: grid;
    width: 32rem;
    padding: 10px;
    /* border: 1px solid brown; */
    border-radius: 12px;
    box-shadow: 2px  2px 8px #888888;
}
.review-label{
    margin-bottom: 5px;
}
.rating-label{
    margin-top: 12px;
    margin-bottom: 5px;
}
.rating-dropdown-menu{
    width: 30px;
}

.create-review {
    margin-right: 6rem;
}
.review-form-bttns-div{
    /* border: 1px solid blue; */
    display: flex;
}
.submit-review-btn{
    width: 50%;
    margin-right: 12px;
}
.cancel-review-btn{
    width: 50%;
}
