.errors {
    list-style: circle;
    color:brown
}
/* MAIN PROFILE PAGE DIV */
.profile-page-container{
    border: 1px solid blue;
    width: auto;
    height: auto;
    display: flex;
    padding-top: 7rem;
}
/* LISTINGS SECTION DIV */
.listings-div{
    border: 1px solid red;
    width: 30rem;
    height: auto;
    margin: auto;

}
.all-your-listings {
    position: relative;
    width: auto;
    height: auto;
    /* max-width: 90rem; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px blue;
    margin: 3rem 3rem 2rem 3rem;
    align-items: center;
    justify-content: center;
}
/* BOOKINGS SECTION DIV */
.bookings-containder-div{
    border: 1px solid green;
    width: 30rem;
    height: auto;
    margin: auto;
}
.indv-booking-div{
    border: 1px solid blue;
    display: flex;
}
.booking-img{
    border: 1px solid pink;
    width: 12rem;
    height: 12rem;
    border-radius: 5%;
    object-fit: cover;
}
.booking-info-div{
    border: 1px solid red;
    width: 100%;
    height: auto;
}



/* THE SPOT FORM */
.spot-form{
    width: 45rem
}
.edit-spotForm{
    width: auto
}


.full-listing {
    /* border: solid 1px blue; */
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding-bottom: -3rem;
}

.your-listing-img {
    width: 18rem;
    height: 15rem;
    border-radius: 2%;
    object-fit: cover;
}
.your-city {
    margin-top: 1rem;
}
.your-address {
    font-size: .8rem;
    position: relative;
    bottom: -.5rem;
}
.your-price {
    position: relative;
    bottom: -1rem;
    margin-bottom: 2rem;
}

.edit-spot-form {
    position:static;
    width: 50rem;
}
