/* TODO Add site wide styles */
h4 {
    font-family: 'Montserrat';
    font-weight: 600;
}
h5 {
    font-family: 'Montserrat';
    font-weight: 600;
}

span {
    font-family: 'Montserrat';
    font-weight: 200;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
}

input {
    margin: .5rem;
    padding: .5rem;
    border: 0.1rem solid #77aa97;
    border-radius: 1rem;
}
