/* 1st and BIGGEST CONTAINER CENTERED */
.Indv-spot-div {
    /* border: solid 1px blue; */
    position: relative;
    width: auto;
    height: auto;
    max-width: 53rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

}
/* TITLE AND ADRESS AT THE TOP */
.title-address-div{
    /* border: 1px solid brown; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.span-title {
    font-size: 2rem;
    font-weight: 500;
    /* border: solid 1px green; */
    width: fit-content;
    /* margin-left: 8rem; */
    margin: 0px;
}
.span-address-single {
    /* margin-left: 8rem; */
    /* border: 1px solid pink; */
}

/* IMAGE DIV BLOCK */
.image-block {
    display: flex;
    /* border: 1px solid rgb(0, 255, 76); */
    padding: 0px;
    width: auto;
    height: auto;
}

.image-block-2 {
    /* position: relative; */
    width: 29rem;
    height: 19.6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    /* align-items: center;
    justify-content: center; */
    /* border: solid 1px blue; */
    border-radius: 10px;
    padding: 0px;
}

/* SINGLE URL is the DIV holding the image IMG-URL is the image itself */

.single-url1 {
    width: min-content;
    height: 20rem;
    /* border: solid 1px red; */
    margin: 0px;
    /* border-radius: 1rem 0rem 0rem 1rem; */
}

.img-url1 {
    width: 26.9rem;
    height: 18.78rem;
    border-radius: 2%;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
    margin-right: 10px;
}

.single-url2 {
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    margin-right: 14px;
    /* position: relative; */

    /* border-radius: 1rem 0rem 0rem 1rem; */
}
.img-url2 {
    width: 14rem;
    height: 9rem;
    border-radius: 2%;
    object-fit: cover;
    border-radius: 0rem;
}
.single-url3 {
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    /* margin: 1rem; */
    /* position: relative; */
}
.img-url3 {
    width: 14rem;
    height: 9rem;
    border-radius: 2%;
    object-fit: cover;
    border-radius: 0rem 1rem 0rem 0rem;
}
.single-url4 {
    width: min-content;
    height: min-content;
    margin-right: 14px;
    /* border: solid 1px blue; */
    /* margin: 1rem; */
    /* border-radius: 1rem 0rem 0rem 1rem; */
    /* position: relative; */
}
.img-url4 {
    width: 14rem;
    height: 9rem;
    border-radius: 2%;
    object-fit: cover;
    border-radius: 0rem;

}

.single-url5 {
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    /* margin: 1rem; */
    /* border-radius: 1rem 0rem 0rem 1rem; */
    /* position: relative; */
}
.img-url5 {
    width: 14rem;
    height: 9rem;
    border-radius: 2%;
    object-fit: cover;
    border-radius: 0rem 0rem 1rem 0rem;
}
/* Details and Booking from SECTION */
.details-bookings-section-div{
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    display: flex;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.spot-details-div{
    /* border: 1px solid green; */
    height: auto;
    width: 100%;
    margin: 5px;
}
.hosted-by-h4{
    /* border: 1px solid blue; */
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.spot-description{
    /* border: 1px solid salmon; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.stays-cover-div{
    /* border: 1px solid blue; */
    padding-bottom: 29px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.stays-h2{
    color: #77aa97;
    font-size: 35px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.span-cover{
    color: black;
    font-weight: 200;
}
.staycover-description{
    /* border: 1px solid palevioletred; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}
.staycover-description-details{
    /* border: 1px solid green; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    margin: 0;

}

.booking-form-div{
    /* border: 1px solid blue; */
    height: auto;
    width: 70%;
    margin: 5px;
}
/* LEAVE A REVIEW SECTION */
.leave-a-review-bttn{
    width: 10rem;
    margin: auto;
}

/* PRICE */
.span-price{
    /* border: 1px solid red; */
}

/* REVIEW SECTION */
.review-button-div{
    /* border: 1px solid pink; */
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}
.Review-section-div{
    /* border: 1px solid green; */
    width: 100%;
}
.review-container{
    display: flex;
}
div .reviewBox {

    border-bottom: 1px solid rgb(211, 211, 211);
    /* border: 1px solid purple; */
    width: 48rem;
    height: auto;
    padding-bottom: 15px;
}
.delete-review-button-div{
    /* border: 1px solid red; */
    margin-right: 5px;
}
.delete-review-bttn{
    width: 7rem;
    margin-top: 19px;
    margin-bottom: 0;
}
