


.login-form {
    font-family: 'Montserrat', sans-serif;
    width: 25rem;
    height: auto;
    max-height: 19rem;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    box-shadow: 2px  2px 8px #888888;
    padding: 20px 20px 50px 20px;
    display: grid;
    align-items: center;
    margin: auto
}


input[type=text], input[type=password] {
    width: 20em;
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }

  button {
    background-color:#77aa97;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
