


form {
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    border: 1px solid #f1f1f1;
    border-radius: 5%;
    box-shadow: 2px  2px 8px #888888;;
    padding: 10px 20px 50px 20px;
    display: grid;
    align-items: center;
    margin: auto
}


input[type=text], input[type=password] {
    width: 20em;
    padding: 10px 20px;
    margin: 10px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5%;
  }

  button {
    background-color:#77aa97;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
