
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500;600;700&display=swap');


.profile-icon {
    font-size:large
}

.navBar {
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
}
ul {
    list-style: none;
    font-family: 'Montserrat', Cambria, Cochin;
    font-weight: 200;
}

li {

    font-family: 'Montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman',
}

li .login, .signup{
    color: #77aa97;
    float: right;
    text-align: center;
    padding: 14px 16px 30px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 16px;
    padding: 10px;
    padding-right: 20px;
    padding-top: 15px;
    /* border: 1px solid blue; */
}

.home {
    color: #77aa97;
    float: left;
    text-align: center;
    padding: 6px 16px 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    /* border: 1px solid red; */
}
